<div class="body">
<div class="row-fluid">
	
	<div style="width: 50%; margin:0 auto">
                <div class="span4">
                	<a href="#/getOperadorJuridico" >
                    <div class="block well">
                        <div class="navbar"><h5>Juridicos</h5></div>
                        <div class="body">	
                        	 </div>
                    </div>
                    </a>
                </div>
                
                
              
                <div class="span4">
                	<a href="prestador.html" >
                    <div class="block well">
                        <div class="navbar"><h5>Natural</h5></div>
                        <div class="body">	
                        	 </div>
                    </div>
                    </a>
                </div>
                
            </div>
                <div class="separator-doubled">
                </div>
             
             
            </div>
            <!-- /main content -->
       
        <!-- /main wrapper -->
    </body>