
<div id="sidebar-left" class="span1">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">

			<li class="active"  >
				<a href="layout.html"><i class="fa-icon-tasks"></i><span class="hidden-tablet"> Dashboard</span></a>
			</li>
			<li class="active"  >
				<a href="#"><i class="fa-icon-folder-open"></i><span class="hidden-tablet"> Editor</span></a>

			<li>
				<a class="toolButton inputText" id="inputText"><i class="fa-icon-font"></i>Texto</a>
			</li>
			<li>
				<a class="toolButton inputNumeric" id="inputNumeric"> <i >123</i> Número</a>
			</li>
			<li>
				<a class="toolButton inputDate" id="inputDate"> <i class="fa-icon-calendar"></i> Fecha</a>
			</li>
			<li>
				<a class="toolButton inputSelectOne" id="inputSelectOne"><i class="fa-icon-check"></i>  Selección Simple</a>
			</li>
			<li>
				<a class="toolButton group" rel="group" id="group"> <i class="fa-icon-group"></i>Grupo</a>
			</li>
			<li>
				<a class="toolButton inputTextArea" id="inputTextArea"> <i class="fa-icon-edit"></i>Text Area</a>
			</li>
				<li>
			<a class="toolButton exportJson" id="idExportJson">Exportar Json</a>
			</li>
			<li><a data-toggle="modal" href="#myModalPropiedad"><i class="glyphicons-icon cogwheels"></i><span class="hidden-tablet"> Propiedades</span></a></li>

			</li>
		</ul>
	</div>
</div>

<div class="span11" id="content">

	<div class="box-header">
		<h2><i class="icon-edit"></i><span class="break"></span>Formularios</h2>

		<ul class="nav pull-right">

			<li class="dropdown ">
				<a data-toggle="dropdown" class="dropdown-toggle just-caret" href="#"><span class="break"></span><i class="icon-cog"></i></a>
				<ul class="dropdown-menu pull-right">
					<li>
						<a data-toggle="modal" class=" toolButton json" rel="json" id="exportJson"><i class="icon-ok"></i> Guardar</a>
					</li>
					<li>
						<a data-toggle="modal" href="#myModalPropiedades"><i class="icon-tasks"></i> Propiedades</a>
					</li>
					<li>
						<a  id="idPrevisualizar" data-toggle="modal" href="#myModalPrevisualizar"  ><i class="icon-desktop"></i> Previsualizar</a>
					</li>

				</ul>
			</li>
		</ul>
	</div>
	
	<div class="box-content ">
		<div class="alert alert-success" id="idDivAlertOk" style="display: none">
			<i class="icon-ok-sign"></i>
		</div>
		<div class="alert alert-error" id="idDivAlertError" style="display: none">
			<i class="icon-remove-sign"></i>
			Unexpected error. Please try again later.
		</div>
		<input type="hidden" id="countItem" value="1">
		<input type="hidden" id="inputActive" value="">
		<input type="hidden" id="inputActiveContainer" value="">

		<input type="hidden" id="idHiddenMode">
		<input type="hidden" id="idHiddenIdForm" value="{{form._id}}">
		<input type="hidden" id="idHiddenIdApp" >
		<input type="hidden" id="idHiddenCode" value="{{form.header.code}}">
		<input type="hidden" id="idHiddenName" value="{{form.header.name}}">
		<input type="hidden" id="idHiddenVersion" value="{{form.header.version}}">
		<input type="hidden" id="idHiddenStatus" value="{{form.header.status}}">
		<input type="hidden" id="idHiddenDescrip" value="{{form.header.descrip}}" >
		<input type="hidden" id="idHiddenUrlService" value="{{urlService}}" >

		<div id="resultJson"></div>

		<div id="propertiesPane" class="propertiesPane" title="Propiedades"></div>
		<br>

		<div class="contenEditor container-fluid">
			<div class="workspaceScrollArea">
				<div class="workspace">
					<div id="items_form" class="ui-sortable"></div>
				</div>
			</div>
		</div>

		<div id="myModalPropiedades" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h5 id="myModalLabel">Propiedades del Formulario</h5>
			</div>
			<div class="modal-body" >
				<form class="form-horizontal">
					<div class="row-fluid">
						<div class="control-group">
							<label class="control-label">C&oacute;digo:</label>
							<div class="controls">
								<input  type="text" name="code"  class="span10"  value="{{form.header.code}}" disabled="true"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Nombre:</label>
							<div class="controls">
								<input id = "idTextDescrip" type="text" name="descrip" class="span10" required value="{{form.header.name}}" disabled=""/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Estado:</label>
							<div class="controls">
								<input id = "idTextDescrip" type="text" name="descrip" class="span10" required value="{{form.header.status}}" disabled=""/>
							</div>

						</div>
						<div class="control-group">
							<label class="control-label">Versi&oacute;n:</label>
							<div class="controls">
								<input id = "idTextDescrip" type="text" name="descrip" class="span10" required value="{{form.header.version}}" disabled=""/>
							</div>
						</div>
					</div>

				</form>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal">
						Cerrar
					</button>

				</div>
			</div>

		</div>

		<div id="myModalPrevisualizar" class="modals hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h3 id="myModalLabel">Previsualizar  Formulario</h3>
			</div>
			<div class="modal-body modalsBody" >

				<div class="span12"  >
					<iframe src="" name="prev"></iframe>
					<form action="http://54.232.16.128:8080/FormRender/rest/external/preview"	method="post" target="prev" id ="idForm">

		<input type="hidden" id="idHiddenJsonPreview" name="value">
	</form>


				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">
					Cerrar
				</button>

			</div>

		</div>

		<div id="myModalPropiedad" class="Modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h3 id="myModalLabel">Propiedades</h3>
			</div>
			<div class="modal-body" >

				<iframe src="file:///Users/leonardoleenen/projects/cnc2220/FormBuilderPresentation/src/views/propiedades.html"></iframe>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal">
						Cerrar
					</button>

				</div>
			</div>

		</div>

	</div>
</div>
