<!DOCTYPE html>
<html >
	<head>
		<title>.: formBuilder :.</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- bootstrap -->
		<link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
		<link href="../css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
		<link href="../css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

		<!-- global styles -->
		<link rel="stylesheet" type="text/css" href="../css/elements.css">
		<link rel="stylesheet" type="text/css" href="../css/icons.css">
		
		<!-- libraries -->
		<link rel="stylesheet" type="text/css" href="../lib/font-awesome.css">

		<!-- this page specific styles -->
		<link rel="stylesheet" href="../css/compiled/signin.css" type="text/css" media="screen" />

		<!-- open sans font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- scripts -->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/theme.js"></script>

		<script src="../ js/jquery-1.9.1.js"></script>

		<!-- pre load bg imgs -->

		<style>
			.modal-body {
				max-height: 400px;
				overflow-y: auto;
				padding: 13px 0 0;
				position: relative;
			}
			body {
				padding-left: 0px;
			}
			iframe {
				min-height: 400px;
			}
			</style>

	</head>

	<body>

		<div class="row-fluid sortable ui-sortable">

			<div class="box ">

				<div class="box-content">
					<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab" href="#tab1">Generales</a>
						</li>
						<li>
							<a data-toggle="tab" href="#tab2">Especificas</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="tab1" class="tab-pane active ">
							<form class="span12">
								<div class="row-fluid">
									<div class="span8 bio">
										<div class="control-group">
											<label  class="control-label">Nombre : </label>
											<div class="controls">
												<input type="text" class="span10"  >

											</div>
										</div>
										<div class="control-group">
											<label  class="control-label">Leyenda de Texto : </label>
											<div class="controls">
												<input type="text" class="span10" >

											</div>
										</div>
										<div class="control-group">
											<label  class="control-label">Tooltip : </label>
											<div class="controls">
												<input type="text" class="span10" >

											</div>
										</div>

										<div class="control-group">
											<label  class="control-label">Valor por defecto : </label>
											<div class="controls">
												<input type="text" class="span10" >

											</div>
										</div>
										<div class="control-group">

											<div class="controls">
												<label class="checkbox inline">
													<div class="checker" id="uniform-inlineCheckbox1">
														<span>
															<input type="checkbox" value="option1" id="inlineCheckbox1">
														</span>
													</div> Solo Lectura </label>
												<label class="checkbox inline">
													<div class="checker" id="uniform-inlineCheckbox2">
														<span>
															<input type="checkbox" value="option2" id="inlineCheckbox2">
														</span>
													</div> Requerido </label>
												<label class="checkbox inline">
													<div class="checker" id="uniform-inlineCheckbox3">
														<span>
															<input type="checkbox" value="option3" id="inlineCheckbox3">
														</span>
													</div> Clave Primaria </label>
											</div>
										</div>

										<div class="span4">
											
										</div>
									</div>

								</div>
							</form>
						</div>
						<div id="tab2" class="tab-pane">
							<form class="span12">
								<div class="row-fluid">
									<div class="span7 bio">
										<h5>Longitud</h5>
										<div class="control-group">
											<label  class="control-label" class="hint--left" title="Rango Minimo de caracteres">Minima : </label>
											<div class="controls">
												<input type="text" class="span10"  >

												<label class="checkbox inline">
													<div class="checker" id="uniform-inlineCheckbox1">
														<span>
															<input type="checkbox" value="option1" id="inlineCheckbox1">
														</span>
													</div> Inclusive </label>

											</div>
										</div>
										<br/>
										<div class="control-group">
											<label  class="control-label">Maximo : </label>
											<div class="controls">
												<input type="text" class="span10"  >

												<label class="checkbox inline">
													<div class="checker" id="uniform-inlineCheckbox1">
														<span>
															<input type="checkbox" value="option1" id="inlineCheckbox1">
														</span>
													</div> Inclusive </label>

											</div>
										</div>

										<div class="span4"></div>
									</div>

								</div>
							</form>
						</div>
					</div>

				</div>
			</div><!--/span-->

		</div>
	</body>
</html>